/* Variables */
$font-text: 'Esteban', serif;
$font-header: 'Source Sans Pro', sans-serif;
$color-main: rgba(255, 255, 255, 0.863);
$color-text: rgb(29, 28, 28);

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(29, 28, 28);
  font-family: $font-text;
  font-size: 16px;
  line-height: 1.5;
  color: $color-text;
}

section {
  max-width: 85%;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

h1 {
  font-family: $font-header;
  font-size: 46px;
  margin: 0;
}
/* Navigation */

navi {
  position: absolute;
  background-color: transparent;
  padding: 24px 0;
  width: 80%;
  opacity: 80%;
  z-index: 100;
  margin: 0 7.5%;
}

.list ul {
  text-align: center;
}

.list li {
  display: inline-block;
}

.list a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-family: $font-header;
}

.title h4 {
  color: gold;
  font-family: $font-text;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

/* Splash */

.splash {
  position: relative;
}

.splash-img {
  height: 700px;
  max-width: 80%;
  margin: 0 auto;
}

.splash-img img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.splash .container-fluid {
  position: absolute;
  top: 100px;
  padding-right: 0;
  padding-left: 0;
}

.splash .row {
  height: 560px;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
}

.splash-inner {
  height: 200px;
  text-align: center;
}

.splash-inner h1 {
  font-size: 76px;
  font-family: $font-header;
  margin: 10px 0 30px 0;
  color: white;
}

.splash-inner h3 {
  font-size: 30px;
  margin: 10px 0;
  color: white;
}

.btn {
  padding: 20px 40px;
  border: 1px solid gold;
  border-radius: 4px;
  background: gold;
  color: white;
  text-decoration: none;
  font-family: $font-header;
}

/* Services */

.services {
  background: $color-main;
  max-width: 80%;
}

.container {
  max-width: 800px;
}

.services h1,
.services a {
  display: block;
  text-align: center;
}

.services a {
  margin-bottom: 36px;
  text-align: center;
}

.services h3 {
  font-size: 20px;
  font-family: $font-header;
  text-align: center;
}

.services i {
  display: inline-block;
  text-align: center;
  font-size: 48px;
  color: goldenrod;
  border: 3px solid goldenrod;
  width: 90px;
  height: 90px;
  padding: 15px 10px;
  border-radius: 50%;
}

/*.services .row a:first-of-type {
  border: 1px solid goldenrod;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}
*/
